<form [formGroup]="roomForm" (ngSubmit)="submitForm()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="roomNumber" style="margin-bottom: 5px; ">Unesite broj sobe:</label>
                <input formControlName="roomNumber" name="roomNumber" id="roomNumber" #newroomNumber
                    class="form-control" placeholder="Molimo unesite broj sobe"
                    required="required">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" style="margin-bottom: 5px;">Upisite naziv hotela:</label>
                <input formControlName="name" name="name" id="name" #newh_name class="form-control"
                    placeholder="Molimo unesite naziv hotela" required="required">
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="brOsoba" style="margin-bottom: 5px;">Unesite broj osoba: </label>
            <input formControlName="brOsoba" name="brOsoba" id="brOsoba" #newavailablePpl
                class="form-control" placeholder="Molimo unesite broj osoba"
                required="required">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="price" style="margin-bottom: 5px;">Unesite cenu za noc: </label>
            <input formControlName="price"name="price" id="price" #newprice class="form-control"
                placeholder="Unesite najvecu cenu koju biste platili" required="required">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="margin-top: 10px;">
        <button style="min-width: 100%;"
            class="btn btn-success btn-send pt-2 btn-block" name="submit" type="submit">
            Dodajte sobu
        </button>
    </div>
</div>

</form>